<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12 col-sm-6 col-md-2"></div>

		<div class="col-xs-12 col-sm-6 col-md-8">
			<div class = "wrap-img">
				<%= image_tag @image.file , class: "img-rounded", alt: "image foodsky", width:"100%" %>
			</div>
			<div class = "wrap-content">
				<h1 class="title-recipes"><%= @recipe.title %> <i class="fa fa-star" aria-hidden="true"></i></h1>
				<div class="page-header">
					<%= image_tag avatar_url(@recipe.user), class: "img-circle avatar-medium" %>
					<strong class= "user-name">
						<%= link_to  @recipe.user.name, user_path(@recipe.user), class: "" %></strong>
					<p style="margin-top: 5px;">
            <% if current_user.id != @recipe.user.id %>
              <%= render partial: 'shared/follow_button', locals: { target: @recipe.user } %>
            <% end %>
            <%= render partial: 'likes/like_button', locals: {recipe: @recipe} %>
            <span id="count-like-<%= @recipe.id %>"> <%= @recipe.likes.count %></span>
            <%= render partial: 'bookmarks/bookmark_button', locals: { recipe: @recipe } %>
					</p>
					<% if current_user.name == @recipe.user.name %>
						<h3 style="color:#3c763d">
							<i class="fa fa-pencil-square-o" aria-hidden="true"></i>
							<%= link_to "Edit recipes", edit_recipe_path(@recipe) %>
						</h3>
						<h3 style="color:#3c763d">
			            	<i class="fa fa-trash" aria-hidden="true"></i>
			            	<%= link_to "Delete recipes", recipe_path(@recipe), method: :delete, data: {confirm: "Are you sure?"} %>
						</h3>
					<% end %>
				</div>
				<button class="btn btn-primary servings" type="button">
					Servings <span class="badge"><%= @recipe.serving %></span>
				</button>

				<div class="panel panel-info">
					<div class="panel-heading"><i class="fa fa-newspaper-o" aria-hidden="true"></i> Story of the recipes</div>
					<div class="panel-body">
				    	<%= simple_format(@recipe.describe) %>
					</div>
				</div>

				<div class="panel panel-info">
					<div class="panel-heading"><i class="fa fa-shopping-basket" aria-hidden="true"></i> Ingredients</div>
					<div class="panel-body">
				    	<%= simple_format(@recipe.ingredients) %>
					</div>
				</div>

				<div class="panel panel-info">
					<div class="panel-heading"><i class="fa fa-th-list" aria-hidden="true"></i> Method</div>
					<div class="panel-body">
              <%= @recipe.method.html_safe %>
					</div>
				</div>

		        <%= render 'comments/create_form' %>
		        <%= render 'comments/list' %>
			</div>		
		</div>
		<div class="col-xs-12 col-sm-6 col-md-2"></div>		
	</div>
</div>
