<!DOCTYPE html>
<html>
  <head>
    <title>Foodsky</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <style type="text/css" media="screen">
    div {
      font-size:medium !important;
    }
    input{
      font-size:medium !important;
    }
    button{
      font-size:medium !important;
    }
    body{
      font-size:medium !important;
    }

    a{
      font-size:medium !important;
    }
    textarea{
      font-size:medium !important;
    }
    </style>
  </head>
  <% if user_signed_in? %>
    <body>
      <%= render 'shared/navbar' %>
      <%= render 'shared/message' %>
      <div class="container">
        <%= yield %>
      </div>
    </body>
  <% else %>
    <body class="body-bg">
      <%= yield %>
    </body>
  <% end %>
</html>
